@model Course
@{
    ViewData["Title"] = "Add Course";
}

<form asp-action="AddCourse" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CourseName">Name: </label>
        <input asp-for="CourseName" class="form-control col-sm-4" />
    </div>
    <div class="form-group">
        <label asp-for="ZipCode">Zip Code: </label>
        <input asp-for="ZipCode" class="form-control col-sm-4" />
    </div>
    <button type="submit" class="btn btn-primary">Add Course</button>
    <a asp-controller="Home" asp-action="CourseList" class="btn btn-primary">Cancel</a>
</form>