@model Course
@{
    ViewData["Title"] = "Add Course";
}

<form asp-action="AddCourse" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CourseName">Name: </label>
        <input asp-for="CourseName" class="form-control col-sm-4" />
    </div>
    <div class="form-group">
        <label asp-for="NumberOfHoles">Number of Holes: </label>
        <input asp-for="NumberOfHoles" class="form-control col-sm-4" />
    </div>
    <div class="form-group">
        <label asp-for="CoursePar">Par for Course: </label>
        <input asp-for="CoursePar" class="form-control col-sm-4" />
    </div>
    <div class="form-group">
        <label asp-for="HolePar">Par for Holes: </label>
        <input asp-for="HolePar" class="form-control col-sm-4" placeholder="3-3-4-5-2-2-6-3-2" />
    </div>
    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Home" asp-action="CourseList" class="btn btn-primary">Cancel</a>
</form>