@model Player
@{ 

}

<h2>Confirm Deletion</h2>
<h3>@Model.Name (@Model.Username)</h3>

<form asp-action="DeletePlayer" method="post">
    <input type="hidden" asp-for="PlayerID" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Home" asp-action="PlayerList" class="btn btn-secondary">Cancel</a>
</form>