@model User
@{ 

}

<h2>Confirm Deletion</h2>
<h3>@Model.Name (@Model.Username)</h3>

<form asp-action="DeleteUser" method="post">
    <input type="hidden" asp-for="UserID" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Home" asp-action="UserList" class="btn btn-primary">Cancel</a>
</form>