@model IEnumerable<Hole>
@{
    ViewData["Title"] = "Hole List";
}

<h2>Hole List</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr><th>CourseName</th><th>Sequence Number</th><th>Par</th><th>Distance (ft)</th></tr>
    </thead>
    <tbody>
        @foreach (Hole hole in Model)
        {
            <tr>
                <td>@hole.Course.CourseName</td>
                <td>@hole.SequenceNumber</td>
                <td>@hole.Par</td>
                <td>@hole.Distance</td>
            </tr>
        }
    </tbody>
</table>

<a asp-area="Admin" asp-controller="Home" asp-action="index" class="btn btn-primary">Admin Home</a>