@{
    ViewData["Title"] = "Admin Page";
}

<a asp-controller="Home" asp-action="UserList" class="btn btn-primary">View Users</a>
<a asp-controller="Home" asp-action="CourseList" class="btn btn-primary">View Courses</a>

<a asp-area="Default" asp-controller="Home" asp-action="index" class="btn btn-primary">Default Home</a>