@{
    ViewData["Title"] = "Admin Page";
}

<a asp-controller="Home" asp-action="PlayerList" class="btn btn-primary">View Players</a>
<a asp-controller="Home" asp-action="CourseList" class="btn btn-primary">View Courses</a>
<a asp-controller="Home" asp-action="HoleList" class="btn btn-primary">View Holes</a>
<a asp-controller="Home" asp-action="GamePlayedList" class="btn btn-primary">View Games</a>

<a asp-area="Default" asp-controller="Home" asp-action="index" class="btn btn-primary">Default Home</a>