@model User
@{ 
    
} 
<div class="text-center">
    <p>UserID: @Model.UserID</p>
    <p>Name: @Model.Name</p>
    <p>Username: @Model.Username</p>
    <p>Password: @Model.Password</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Home</a>
</div>