@{
    ViewData["Title"] = "Home Page";
}


<a asp-controller="Home" asp-action="Login" class="btn btn-primary">Login/Register</a>
<a asp-controller="LeaderBoard" asp-action="Index" class="btn btn-secondary">Leaderboards</a>
<a asp-controller="Home" asp-action="Info" class="btn btn-secondary">More Info</a>