@{
    ViewData["Title"] = "Info Page";
}

<div class="text-center">
    <h2 class="text-center">Game Overview</h2>
    <p class="text-left">
        Disc Golf is a simple sport to get into but difficult to master. The game will
        take you on a course through a series of holes. You start from inside the tee-box
        on each hole and make your best throw towards the basket/goal. The disc must come to
        rest in the basket for you to complete each hole. Like golf, the lower your score, the
        better.
    </p>
    <h2 class="text-center">Rules</h2>
    <p class="text-left">
        The general rules of disc golf are simple: You must start from inside the
        tee-box, the disc must come to rest inside the basket, and for throws while on the course, your
        planting foot must be behind where your disc came to lie. When playing with others, the furthest from the
        basket throws first after everyone has thrown once. More detailed rules can be found at the disc golf website,
        under <a href="https://discgolf.com/disc-golf-education-development/disc-golf-rules-for-recreational-play/">recreational rules</a>.
    </p>
    <h2 class="text-center">This Site</h2>
    <p class="text-left">
        This site was created to help the player track their games across several courses. 
        The courses are added by the admin. If a course is not added and you would like to see it added, 
        contact a site administrator. All of your games will show up under the courses you played on when you log in. 
        Any open games, games you have not finished, are shown towards the bottom of your homepage. Those games can be completed 
        anytime if you want to go back to the course and continue you game or cancelled if you don’t have the opportunity to 
        finish the game. If you want to play with a friend, add them to your game with the “add player” button when you select 
        “play game”. They must be registered through the site (registration can be found on the homepage and is super simple).
    </p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
</div>