@{
    ViewData["Title"] = "Info Page";
}

<div class="text-center">
    <p>This will hold all the info and some helpful links</p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
</div>