@{
    ViewData["Title"] = "Leaderboard Page";
}

<div class="text-center">
    <p>This will hold the leaderboards when I have the database configured</p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
</div>